*{
    margin: 0;
    padding: 0;
}

.container{
    height: calc(100vh - 0px);
    
    /* background-image:   url(./pexels-robin-stickel-70497.jpg) ; */
    
    /* background-size: 100%; */
    background: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.5))  , url(./pexels-pixabay-260922.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.navcontainer{
    border: 1px brown solid;
    height: 80px;
    background-color: rgb(255, 255, 255);
    color: black;
}
.navcontainer label{
    color: brown;
    padding-left: 40px;
    line-height: 80px;
}
.navcontainer ul{
    float: right;
    line-height: 80px;
}
.navcontainer ul li{
    display: inline-block;
    padding-right: 40px;
}
.navcontainer ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#hbr{
    display: none;
}
#icon{
    float: right;
    padding-right: 10px;
    display: none;
    cursor: pointer;
}
/* the image seetings */
/* ********************************making the nav bar responsive*********************************** */
@media screen and (max-width : 718px) {
    #icon{
        display: block;
    }
    
    ul{
        width: 100%;
        height: 100vh;
        background-color: brown;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: fixed;
        left: -100%;
        transition: all 2s ease-out;
    }
    #hbr:checked ~ ul{
        left: 0;
    }
    
}
/* *****************************the contnent of the page************************* */
.the-title{
    color: white;
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.col1{
    width: 300px;
    height: 300px;
    margin-right: 10px;
}
.col1 .img{
    height: 230px;
    background: url(/Pizza.jpg);
    background-size: cover;
}
.col1 h1{
    color: white;
    text-align: center;
    background-color: rgb(77, 18, 18);

}
.col2{
    width: 300px;
    height: 300px;
    line-height: 48px;
    letter-spacing: 2px;

}
.col2 span{
    margin-left: 10px;
    background-color: rgb(100, 25, 25);
    color: white;
    padding: 3px 5px;
    border-radius: 10px;
}
.col2 button{
    color: white;
    background-color: rgb(69, 18, 18);
    padding: 5px 10px;
    display: block;
    /* text-align: center; */
    border: none;
    margin: 0 auto;
}
.col2 a{
    text-decoration: none;
}
/************************************ making it responisive ****************************/
@media screen and (max-width :547px) {
    .row{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
    .col2{
        text-align: center;
    }
    .container{
        height: 800px;
    }
}
