*{
    margin: 0;
    padding: 0;
}

.container{
    height: calc(100vh - 0px);
    
    /* background-image:   url(./pexels-robin-stickel-70497.jpg) ; */
    
    /* background-size: 100%; */
    background: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.5))  , url(./pexels-pixabay-260922.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.navcontainer{
    border: 1px brown solid;
    height: 80px;
    background-color: rgb(255, 255, 255);
    color: black;
}
.navcontainer label{
    color: brown;
    padding-left: 40px;
    line-height: 80px;
}
.navcontainer ul{
    float: right;
    line-height: 80px;
}
.navcontainer ul li{
    display: inline-block;
    padding-right: 40px;
}
.navcontainer ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
/* the image seetings */
/* ********************************making the nav bar responsive*********************************** */
@media screen and (max-width : 718px) {
    ul{
        width: 100%;
        height: 100vh;
        background-color: brown;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: fixed;
        left: -100%;
    }
    #hbr:checked ~ ul{
        left: 0;
    }
}